/**
 * Import any reveal.js theme or your own.
 **/
@import '~@irontec/reveal.js-theme/dist/theme.css';

.intro {
    background-image: url('../assets/media/home_background.jpg');
    img {
        border:0 !important;
        box-shadow: none !important;
    }

    h1 {
        margin-top:20%;
    }
}

body {
	background: #262626;

}

h1,h3,h2,h4,h5,p,div {
	color: #fff !important;
	font-family: Trebuchet MS !important;
}

b, strong {
	background: #fff !important;
	color: #000 !important;
}

code {
	background: #000 !important;
  color: #fff !important;
	padding: .1em .3em !important;
	border-radius: 5px !important;
	font-size: 1.05em !important;
}

pre > code {
  padding: 1em !important;
}

pre::after {
  background-color: inherit !important
}
